<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML + Node</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container m-4 d-flex flex-column align-items-center justify-content-center">
        <div class="mb-4 d-block text-start w-75">
            <a href="/html_node">Go back</a>
        </div>
        
        <div class="card w-75">
            <% if(error) { %>
                <div class="alert alert-danger m-3" role="alert"><%= error %></div>
            <% } %>

            <div class="card-body">
                <h4 class="mb-2">Edit User</h4>

                <form method="POST" action="/html_node/edit/<%= data.id%>">
                    <div class="mb-3">
                      <label class="form-label">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name" value="<%= data.first_name%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" value="<%= data.last_name%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Age</label>
                      <input type="number" class="form-control" id="age" name="age" value="<%= data.age%>">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Gender</label>
                      <select class="form-control" id="gender" name="gender" value="<%= data.gender%>">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>

                    <button type="submit" class="btn btn-primary" name="submit_button">Submit</button>
                  </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>